:root {
   --ws-blue:          #2196F3;
   --ws-grey:          #757575;
   --ws-darkgrey:      #212121;
   --ws-lightgrey:     #F5F4FA;
   --ws-black:         #000000;
   --ws-main-bgcolor:  #FFF;
   --ws-section-bg-dark:#2F303A;
   --ws-border-line:   #EEEEEE;
   --ws-bottom-line:   #ECECEC;
   --ws-button-hover:  #188CE8;
   --ws-font-raleway:  'Raleway', sans-serif;
   --ws-font-roboto:   'Roboto', sans-serif;
}

body {
   font-family: var(--ws-font-roboto);
   font-size: 14px;
   line-height: 1.5;
   background-color: var(--ws-main-bgcolor);
   color: var(--ws-darkgrey);
}

.container {
   width: 1200px;
   margin: 0 auto;
}

/* header css*/

.header {
   padding: 24px 0;
   border-bottom: 1px solid var(--ws-bottom-line);
}

.header-page {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav-menu {
   display: flex;
   align-items: center;
}

.header a:link,
.header a:visited{
   text-decoration: none;
}

.nav-logo,
.footer-logo {
   font-family: var(--ws-font-raleway);
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   color: var(--ws-blue);
}

.nav-logo span {
   color: var(--ws-black);
}

.nav-pages,
.nav-contact {
   display: inline-block;
   list-style: none;
   line-height: 1.14;
   letter-spacing: 0.02em;
}

.nav-pages li,
.nav-contact li  {
   display: inline-block;
   padding: 0 25px;
   font-weight: 500;
}


.nav-pages a:link,
.nav-pages a:visited {
color: var(--ws-darkgrey);
}

.nav-pages a:focus,
.nav-pages a:hover,
.nav-pages a.current-page {
   color: var(--ws-blue);
}



.nav-contact a:link,
.nav a:visited {
   color: var(--ws-grey);
}

.nav-contact a:focus,
.nav-contact a:hover {
   color: var(--ws-blue);
}

 /* main css*/

.welcome-section {
   background-color: var(--ws-section-bg-dark);
}

.welcome {
   padding: 200px 0;
   text-align: center;
   width: 700px;
}

.welcome h1 {
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   padding-bottom: 30px;
   color: var(--ws-main-bgcolor);
} 


.welcome-button {
   width: 200px;
   height: 50px;
   background: var(--ws-blue);
   border-radius: 4px;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   border: 0;
   color: var(--ws-main-bgcolor);
   cursor: pointer;
}

.welcome-button:hover,
.welcome-button:focus {
   background: var(--ws-button-hover);
}


.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}

/* section css*/

.section {
   padding: 94px 0;
}

.features,
.our-works,
.our-team {
   text-align: center;
}

.our-works {
   padding-top: 0;
}

.feature-list,
.our-works-list,
.our-team-list,
.buttons-list,
.our-portfolio-list {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
}

.feature-list,
.our-works-list,
.our-team-list,
.our-portfolio-list {
   justify-content: space-between;
}

.buttons-list {
   justify-content: center;
}

.feature-list-item {
   width: 270px;
}


.feature-list h3 {
   font-weight: 700;
   line-height: 1.15;
   text-align: left;
   text-transform: uppercase;
   color: var(--ws-darkgrey);
}

.feature-list p {
   text-align: left;
   line-height: 1.71;
   color: var(--ws-grey);
}

.our-works h2,
.our-team h2 {
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   text-align: center;
   color: var(--ws-darkgrey);
}

.our-team {
   background: var(--ws-lightgrey);
}

.our-team-list-item {
   background-color: var(--ws-main-bgcolor);
   padding-bottom: 30px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}

.our-team-list-item p {
   font-size: 16px;
   line-height: 1.18;
   color: var(--ws-grey);
}

.portfolio {
   margin: 95px 0;
}


.portfolio-button {
   font-family: inherit;
   background: var(--ws-lightgrey);
   border-radius: 4px;
   color: var(--ws-darkgrey);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   text-align: center;
   border: 0px;
   margin: 0 4px;
   padding: 6px 22px;
   letter-spacing: 0.03em;
   cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus,
.active {
   color: var(--ws-main-bgcolor);
   cursor: pointer;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   background: var(--ws-blue);
}


.our-portfolio-list-item {
   margin-top: 30px;
   width: 370px;
   border: 1px solid var(--ws-border-line);
}

.our-portfolio-list-item a:link,
.our-portfolio-list-item a:focus {
   text-decoration: none;
}

.our-portfolio-list-item h2 {
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   text-align: left;
   padding-left: 24px;
   color: var(--ws-darkgrey);
 }

.our-portfolio-list-item p {
   font-size: 16px;
   line-height: 1.8;
   letter-spacing: 0.03em;
   text-align: left;
   padding-left: 24px;
   color: var(--ws-grey);
    
}

/* footer css*/

.footer {
   background-color: var(--ws-section-bg-dark);
   padding: 60px 0;
}

.footer-logo {
   text-decoration: none;
   padding-bottom: 20px;
}

.footer-logo span {
   color: var(--ws-main-bgcolor);
}

.contact-address {
   list-style: none;
   padding: 0;
}

.contact-address li {
   padding: 4px 0;
}

.contact-address a:link,
.contact-address a:visited {
   text-decoration: none;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   color: rgba(255, 255, 255, 0.6);
}


.contact-address a.contact-map:link,
.contact-address a.contact-map:visited  {
   color: var(--ws-main-bgcolor);
}

.contact-address a:focus,
.contact-address a:hover {
   color: var(--ws-blue);
}

